@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./components/header.scss";
@import "./components/banner.scss";

body {
  @apply p-0 m-0;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.skew-bg {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  z-index: 0;
}

.about-container:before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 50px;
  background: #5c3dc4;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.about-container:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.wrapper-container {
  @apply w-full mx-auto px-6;

  @screen md {
    max-width: 95%;
    @apply px-0;
  }

  @screen xl {
    max-width: 90%;
  }

  @screen fhd {
    @apply px-0 max-w-screen-fhd px-12;
  }
}
